.allWrapper{
    margin: 0 0 0 12rem;
    color: white;
}

.allWrapper h2{
    margin-top: 0;
}

.upP{
    font-size: 0.8rem;
    color: #c2c6cc;
}

.upContainer {
    line-height: 0.5rem;
    margin-bottom: 2.5rem;
}

.seat {
    width: 17px;
    height: 17px;
    margin: 10px;
    border-radius: 4px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.seat:hover {
    transform: scale(2);
    z-index: 2;
}

.blocked {
    background-color: #999;
    cursor: not-allowed;
}

.payed {
    background-color: #ccc;
    cursor: not-allowed;
}

.free {
    background-color: #9b59b6;
}

.selected {
    background-color: #69209a;
    transform: scale(1.6);
    z-index: 2;
}

.hallContainer {
    display: inline-block;
}

.seatingArea {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}



.screenWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin:  0 0 20px 0;
}

.screenText {
    font-size: 0.8rem;
    font-weight: 100;
    margin-bottom: 5px;
    color: #c2c6cc;
    align-self: center;
}

.screenLine {
    height: 10px;
    background-color: #CED2DA;
    border-radius: 4px;
    width: 100%;
    /* margin-left: 11px; */
}
.rowNumber {
    width: 30px;
    text-align: left;
    max-width: 5px;
    margin:  0 8px 0 0;
    font-size: 14px;
    color: #c2c6cc;
}

.tooltip {
    position: absolute;
    background-color: #111;
    color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    font-size: 14px;
    pointer-events: none;
    z-index: 10;
    transform: translate(-50%, -100%);
    white-space: nowrap;
}

.close {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    float: right;
    margin-left: 10px;
}

.hoverInfo {
    background-color: #f2f2f2;
    padding: 10px 14px;
    border-radius: 8px;
    font-size: 14px;
    color: #333;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    width: fit-content;
}

.buttons {
    display: flex;
    gap: 20px;
}

.buyButton,
.backButton {
    font-size: 0.9rem;
    padding: 0.9rem 2.5rem;
    border: 1px solid #CED2DA;
    background-color: transparent;
    border-radius: 11px;
    color: white;
}

.buyButton {
    border: 1px solid transparent;
    background-color: #9534D2;
}