.scheduleWrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 2rem 0 0 -1rem;

}

.scheduleWrapper h3 {
    font-size: 1.5rem;
    margin: 0;

}

.dayRow {
    display: flex;
    gap: 0;
    flex-wrap: wrap;
    background-color: #344051;
    border-radius: 16px;
    width: fit-content;
    min-width: 50px;
    max-width: 100%;
}


.timeColumn {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.activeButton,
.dayButton{
    padding: 0.8rem 1rem;
    border-radius: 14px;
    margin: 3px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border: transparent;
}

.dayButton:hover {
    border: transparent;
}
.activeButton:hover {
    border: transparent;
}

.activeButton {
    background-color: #141C24;
}

.activeButton:focus {
    outline: none;
}

.activeTimeButton,
.timeButton {
    padding: 0.8rem 1rem;
    border: 2px solid #CED2DA;
    border-radius: 14px;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.activeTimeButton {
    background-color: #97A1AF;
    border: 2px solid transparent;
}


.continueButton:disabled,
.continueButton {
    margin-top: 1rem;
    padding: 1.1rem 5.7rem;
    background-color: #9534D2;
    border: none;
    border-radius: 14px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.continueButton:hover {
    background-color: #9a36da;
}

.continueButton:disabled {
    cursor: not-allowed;
}
.scheduleBlock {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.hallRow {
    display: flex;
    flex-direction: column;
}

.hallName {
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 0.9rem;


}

.timeRow {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}


.separator {
    margin: 0;
    color: white;
    font-size: 30px;
    font-weight: 100;
}
