.input {
    border-radius: 8px;
    border: 1px solid #eeeeee;
    padding: 0.8em 0.8em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    transition: border-color 0.25s;
}

.form {
}

.field {
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-width: 400px;
}

.buttonContinue {
    margin-left: 20px;
    background-color: #7a25c8;
    padding: 0.8em 0.8em;
    width: 120px;
    margin-top: 18px;
}

.buttonBack {
    padding: 0.8em 0.8em;
    border: 1px solid #eeeeee;
    width: 120px;
}