.progressWrapper {
    margin: 10px 0 20px;
    width:  25rem;

}

.progressBar {
    height: 4px;
    background-color: #eee;
    border-radius: 4px;
    overflow: hidden;
}

.progressFill {
    height: 100%;
    background-color: #2ecc71;
    transition: width 0.3s ease;
}
